body {
  background-color: rgba(43, 88, 12, 0.5);
}

h1 {
  font-family: 'Allura', cursive;
  font-weight: 300;
  font-size: 7.451em;
  color: #EDCD5c;
  padding-top: 10px;
}

header {
  background-image: url("images/header3.jpg");
  border-radius: 20px;
  margin: 0px:
  background-position: center center;
}

nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.953em;
  padding-left: 300px;
  padding-right: 300px;
  color: #F7B71D;
}

.one {
  padding-right: 100px;
}

.three {
  padding-left: 100px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.815em;
  color: #EDCD5C;
}

.roots {
  text-align: center;
  width: 1000px;
  background-image: url("images/roots.jpg");
  margin: 0 auto;
}


.veggies {
  text-align: center;
  width: 1000px;
  background-image: url("images/vegetables.jpg");
  margin: 0 auto;
}

.flowers {
  text-align: center;
  width: 1000px;
  background-image: url("images/flowers.jpg");
  margin: 0 auto;
}


p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  font-color: 000000;
  line-height: 1.4em;
  padding: 5px;
}

article {
  display: flex;
  background-color: rgb(237, 205, 92);
  border-radius: 20px;
  width: 1000px;
  margin: 0 auto;
}
  
img.large {
  width: 400px;
  height: 350px;
  border-radius: 50%;
}

img.medium {
  width: 300px;
  height: 250px;
}

img.small {
  width: 200px;
  height: 150px;
}

figurecaption {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

a:link {
  text-decoration: none;
  color: #F7B71D;
}

a:visited {
  text-decoration: none;
  color: #F7B71D;
}

a:hover {
  text-decoration: none;
  color: #F7B71D;
}

footer {
}

.clear {
  clear: left;
}

#pics > figure {
  display: inline-block;
  padding: 100px 0 100px 0;
}

.garden {
  margin: 0 auto;
  text-align: center;
  padding-left: 20px;
}
